:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 191 196 204;
  --oui-color-primary-light: 230 233 240;
  --oui-color-primary-darken: 150 155 165;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 191 196 204;
  --oui-color-link-light: 230 233 240;

  --oui-color-secondary: 191 196 204;
  --oui-color-tertiary: 150 155 165;
  --oui-color-quaternary: 13 13 13;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 255 120 160;
  --oui-color-danger-darken: 230 70 120;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 60 255 190;
  --oui-color-success-darken: 30 200 150;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 150 155 165;
  --oui-color-warning-light: 191 196 204;
  --oui-color-warning-darken: 150 155 165;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 36 32 47;
  --oui-color-base-2: 29 25 37;
  --oui-color-base-3: 22 19 28;
  --oui-color-base-4: 18 15 22;
  --oui-color-base-5: 14 12 18;
  --oui-color-base-6: 10 9 14;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 7 6 10;
  --oui-color-base-9: 4 4 7;
  --oui-color-base-10: 0 0 4;

  --oui-color-base-foreground: 191 196 204;
  --oui-color-line: 191 196 204;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 191 196 204;
  --oui-gradient-primary-end: 10 30 69;

  --oui-gradient-secondary-start: 0 0 0;
  --oui-gradient-secondary-end: 40 40 40;

  --oui-gradient-success-start: 0 0 0;
  --oui-gradient-success-end: 40 40 40;

  --oui-gradient-danger-start: 0 0 0;
  --oui-gradient-danger-end: 40 40 40;

  --oui-gradient-brand-start: 191 196 204;
  --oui-gradient-brand-end: 10 30 69;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 90deg;

  --oui-gradient-warning-start: 255 230 120;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 40 40 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}